php_value upload_max_fiesize 30M
php_flag short_open_tag on
RewriteEngine On

# Redirigir jaquemate.es/Contacto a jaquemate.es/contacto.php
RewriteRule ^Contacto$ contacto.php
RewriteRule ^Contacto$ contacto.php

RewriteRule ^Realidad-Virtual$ realidadvirtual.php
