
/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Ajusta el tamaño y el color del thumb */
::-webkit-scrollbar-thumb {
  background: rgb(193, 196, 198);
  margin-right: 2px;
}

/* Ancho y color del track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 2px;
}

/* Hovers */
::-webkit-scrollbar-thumb:hover {
  background: rgb(193, 196, 198);
  margin-right: 2px;
}


.form-control-dark {
    border-color: var(--bs-gray);
  }
  body{
    overflow-x: hidden !important; 
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

  #cabecera  ul{

    display: flex; /* Utiliza flexbox para distribuir los elementos hijos */
  align-items: center;
  }
nav {
    background-color: black;
    position: fixed; /* Fija el menú en la parte superior de la ventana */
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Añade transición de transform */
}
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
nav ul li {
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente los elementos */
  }
    
  .containerCabecera ul li.imag {
    width: 100px; /* Ancho del logo */
  }
  
  .containerCabecera ul li.imag img {
    width: 60%; /* La imagen del logo se ajustará al 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */ 
  }
  
   nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;  
    display: inline-block;
    padding: 1.2em;
  }
  nav ul li a:has(.ico) {
    padding: 0;
  }
  
  nav ul li a:hover:not(:has(.ico)) {
    transform: scale(1.1); /* Escalar el elemento al 110% de su tamaño original */
    transition: transform 0.3s; /* Transición suave */ 
  }

  nav ul li a:hover:has(img){
    
    transition: transform 0.3s;
    transform: scale(1.05); /* Zoom ligeramente al pasar el cursor */
  }
  nav ul li a:hover:has(img)::before {
    opacity: 0.3; /* Opacidad aumentada al pasar el cursor */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño de la imagen al pasar el cursor */
  }

    .oculto {
      transform: translateY(-100%); /* Oculta el menú moviéndolo hacia arriba */
      opacity: 0; /* Hace que el menú sea transparente cuando está oculto */
      pointer-events: none;
  }
  
  .oculto ul li a {
      pointer-events: none; /* Desactiva los enlaces del menú oculto */
  }
  #logo{
    
  }