
/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Ajusta el tamaño y el color del thumb */
::-webkit-scrollbar-thumb {
  background: rgb(193, 196, 198);
  margin-right: 2px;
}

/* Ancho y color del track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 2px;
}

/* Hovers */
::-webkit-scrollbar-thumb:hover {
  background: rgb(193, 196, 198);
  margin-right: 2px;
}


.form-control-dark {
    border-color: var(--bs-gray);
  }
  body{
    overflow-x: hidden !important; 
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

  ul{

    display: flex; /* Utiliza flexbox para distribuir los elementos hijos */
  align-items: center;
  }
  .containerCabecera{
    background-color: black;
    position: sticky; /* Para otros navegadores */
    top: 0;
    z-index: 5;
    width: 100% !important;
    transition: opacity 0.3s ease; /* Animación de transición de opacidad */
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente los elementos */
  }
  
  nav ul li.imag {
    width: 100px; /* Ancho del logo */
  }
  
  nav ul li.imag img {
    width: 100%; /* La imagen del logo se ajustará al 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    display: inline-block;
    padding: 1.1em;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

  .oculto{
    display: none;
    opacity: 0; /* Hace que el elemento se desvanezca cuando se oculta */
    pointer-events: none;
  }
  #logo{
    
  }
