.ds2 svg{
    height: auto;
    width: 4%;
}

.fila {
    display: flex; /* Utilizamos flexbox para alinear los elementos en la misma fila */
    align-items: center; /* Alinea verticalmente los elementos al centro */
}

:not(.uno).fila p {
    margin-right: 10px; /* Añade un margen a la derecha para separar el texto del icono */
    font-size: 2.5rem;
    margin: 0;
    margin-right: 2%;
}
.dos{
    padding: none !important;
    margin: 0 auto !important;
    justify-content: center;
    align-content: center;
}
.dos a{
    font-size: 2.5rem;
}
.dos:not(.fila) > p{
    font-size: 2.5rem;
}
.dos .fila p{
    font-size: 4.5rem;
}
.uno .fila svg{
    width: 8%;
}

/* TELEFONO MAPA */
.ds svg{
    height: auto;
    width: 10%;
}

.min-ds{
    
}
.min-ds svg{
    height: auto;
    padding-top: 0.7rem;
    width: 10%;
}
.min-ds p{
    padding: 0.7rem;
    text-align: left;
    font-size: 2.5rem;
}
.min-ds .col, .min-ds .col-ld-6{
    text-align: center;
}
.min-ds a{
    margin-bottom: 0.7rem;
    font-size: 2.7rem;
}
