@media only screen and (orientation: portrait), (max-aspect-ratio: 1/1) {
    .ds2 svg{
        height: auto;
        padding-top: 0.7rem;
        width: 10%;
    }
    .ds2 p{
        padding: 0.7rem;
        text-align: left;
    }
    .dos:not(.fila) > p{
        font-size: 2.5rem;
    }
    
    .ds2 .col, .ds .col-ld-6{
        text-align: center;
    }
    .ds2 a{
        margin-bottom: 0.7rem;
        font-size: 2.8rem;
    }
    #iconos svg{
        width: 10%;
    }
    #iconos p{
        font-size: 2.7rem;
    }
    #iconos a{
        font-size: 2.8rem;
    }
}



.fila {
    display: flex; /* Utilizamos flexbox para alinear los elementos en la misma fila */
    align-items: center; /* Alinea verticalmente los elementos al centro */
}

:not(.uno).fila p {
    margin-right: 10px; /* Añade un margen a la derecha para separar el texto del icono */
    margin: 0;
    margin-right: 2%;
}
:not(.fila) p {
    font-size: 1.3rem;
}
.dos{
    padding: none !important;
    margin: 0 auto !important;
    justify-content: center;
    align-content: center;
}

.dos .fila p{
    font-size: 4.5rem;
}



@media only screen and (orientation: landscape), (min-aspect-ratio: 1/1) {
    .ds2 svg{
        height: auto;
        width: 4%;
    }
    .dos:not(.fila) > p{
        font-size: 1.6rem;
    }
    .dos a{
        font-size: 1.8rem;
    }
    #iconos a{
        font-size: 1.8rem;
    }
    .uno .fila svg{
        width: 6%;
    }
}
