@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.container-form{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 50px;
}
.container-form p{
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    font-size: 20px;
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 1.5em;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.contenedor-textarea {
    position: relative;
}

#mensaje {
    width: 100% !important;
    height: 200px; /* Ajusta la altura según sea necesario */
  }
  
  #contador-caracteres {
    position: absolute;
    bottom: 5px; /* Ajusta la posición vertical */
    right: 5px; /* Ajusta la posición horizontal */
    color: #999; /* Color del contador */
    font-size: 0.8em; /* Tamaño de fuente del contador */
  }
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

@media only screen and (orientation: portrait), (max-aspect-ratio: 1/1) {
    .container-form {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Alineación vertical al centro */
        text-align: center;
        align-items: flex-start; /* Cambia de 'stretch' a 'flex-start' */
    }
    .info-form h2{
        font-size: 8vw;
    }
    .info-form p{
        padding-top: 3%;
        font-size: 4vw;
        width: 70%;
        text-align: left;
        margin: 2rem;
        margin: 0 auto;
    }
    .info-form a{
        padding-top: 3%;
        font-size: 4vw;
        width: 70%;
        text-align: left;
        margin: 2rem;
        margin: 0 auto;
    }
    .info-form i{
        font-size: 4vw;
    }
    
    .info-form, form {
        margin: auto; /* Esto centra horizontalmente los elementos */
    }
    .contenedor-textarea {
        margin: 0 auto;
        width: 80%;
        position: relative;
    }
    .container-form form .campo{
        width: 80%;
        padding: 1.8rem 2rem;
        font-size: 3.8vw;
        
    }
    #mensaje {
        padding: 1.8rem 2rem;
        font-size: 3.8vw;
        width: 100% !important;
        height: 400px !important;
    }
    .container-form .btn-enviar{
        padding: 2rem;
        font-size: 3.8vw;
        border: none;
        outline: 0px;
        background: orange;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;
    }
    #contador-caracteres {
        font-size: 3.5vw; /* Tamaño de fuente del contador */
      }
}
