@media (max-width: 1200px) {
    footer p {
        font-size: 3rem;
    }

    footer h5 {
        font-size: 2rem;
    }

    footer a {
        font-size: 2rem;
    }

    .fa-home,
    .fa-envelope,
    .fa-phone {
        font-size: 1.5rem;
        /* Tamaño más pequeño para dispositivos móviles */
    }

    body {
        overflow-x: hidden;
    }

    .container {
        overflow-x: hidden;
    }

/* Ocultar opciones en dispositivos móviles */
    #jaquemateOptions, #legalOptions, #contactoOptions {
      display: none;
    }
    #legalTitle {
        position: relative; /* Asegura que el triángulo se posicione relativo a este elemento */
      }  
}