
/* -----------------
  PANTALLAS PEQUEÑAS
  -----------------*/
@media only screen and (orientation: portrait), (max-aspect-ratio: 1/1) {
  .ver:before {
    width: 100px !important; /* Inicia con un ancho de 0 */
    height: 100px !important; /* Ajusta la altura para cubrir el contenido */
  }
  

  .ver span {
    font-size: 60px !important;
    letter-spacing: 0.05em;
  }
  
  .ver svg {
    margin-left: 10px; /* Espacio entre el texto y el SVG */
    width: 60px !important; /* Ajusta para mantener proporción con el texto */
    transform: translateX(-5px);
  }
  .mitad{
    height: 20% !important;
  }
  .texto-nohover {
    position: absolute; /* Absoluto para mantener el texto dentro de la imagen */
    bottom: 0; /* Alinea con la parte inferior */
    left: 50%; /* Centra horizontalmente */
    width: 95%;
    transform: translateX(-50%); /* Ajusta la posición para centrar */
    font-size: 10rem !important; /* Tamaño de fuente adecuado */
    padding: 0 !important;
  }
  .texto-hover{
    font-size: 4rem !important; /* Tamaño de fuente adecuado */
  }
  .textos-container .textos{
    font-size: 3rem !important;
  }

  .transition {
    transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99);
  }
  
  .img-hover img {
    height: 100%; /* Asegura que la imagen ocupe el máximo height */
    width: auto; /* Mantiene la proporción */
    object-fit: cover; /* Ajusta para cubrir todo el área */
    transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99);
  }
  
  
  #fondoDiv .textos.mostrar {
    max-height: fit-content;
  }

  .wrapper {
    padding-top: 2vh;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .marketing h2{
    font-size: 3rem;
  }
  .marketing p{
    font-size: 2.7rem;
  }
  .description p {
    font-size: 2.5rem; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin-left: 3%;
  }
  .boton{
    font-size: 2rem;
  }
  .divSecundario .col{
    font-size: 3.8vw !important;
  }  
  #jaque{
    padding: 0 !important;
  }
  #jaque p{
    font-size: 12vw;
  }
  #jaque h3{
    font-size: 8vw;
  }
    .divSecundario {
      width: 90vw;
      height: auto;
    }
    .divSecundario h3{
      font-size: 5.7vw;
      margin-left: 15px;
    }
    .divSecundario svg{
      margin: 15px;
      width: 10%;
      height: auto;
    }
    
    .text-container p{
      text-shadow: 7px 2px 8px rgba(0, 0, 0, 0.2);
      color: rgb(255, 175, 46);
      font-family: "grotesk";
      font-size: 12vw;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 10px;
      padding: 0;
      margin: 0;
    }
    
    .text-container h3 {
      text-shadow: 7px 2px 8px rgba(0, 0, 0, 0.1);
      color: rgb(255, 175, 46); /* Aplica el color deseado */
      font-size: 4vw; /* Ajusta el tamaño del texto según sea necesario */
      padding: 0;
      margin: 0;
      font-family: "grotesk";
      letter-spacing: 7px;
    }
    .blurry-background {
      background-image: url('../assets/logos2.png');
  }
  #segundo{
    margin-bottom: 3vh;
  }
  #texto, #texto2{
      width: 95vw;

  }
  #texto .titulo, #texto2 .titulo {
      font-size: 3rem;
  }
  #texto p:not(.titulo) {
      font-size: 2.5rem;
  }
  #fondoDiv .mitad p{
      margin: 1em;  
      font-family: inherit;
      font-size: 2.3rem;
      line-height: 1.5em;
      text-align: justify;
  }


  
  #texto2 p:not(.titulo) {
      margin: 0 auto;
      font-size: 2.7rem;
      line-height: 1.5; /* Altura de línea */
      width: 80%;
  }
  .checkbtn{
    display: block;

  }
  .logo{
    border-radius: 30px;
  }
  .checkbtn li{
    font-size: 2.9em;
  }

  .container-form {
    width: 100%;
    margin: auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center; /* Alineación vertical al centro */
    text-align: center;
    align-items: flex-start; /* Cambia de 'stretch' a 'flex-start' */
}

.info-form h2{
    font-size: 9vw !important;
}
.info-form p{
    padding-top: 3%;
    font-size: 4vw !important;
    width: 70%;
    text-align: left;
    margin: 2rem;
    margin: 0 auto;
}
.info-form a{
    padding-top: 3%;
    font-size: 4vw !important;
    width: 70% !important;
    text-align: left;
    margin: 2rem;
    margin: 0 auto;
}
.info-form i{
    font-size: 4vw !important;
}
.info-form img{
  width: 70%;
  transform-origin: center;
}

.info-form, form {
    margin: auto; /* Esto centra horizontalmente los elementos */
}
.contenedor-textarea {
    margin: 0 auto;
    width: 80%;
    position: relative;
}
.container-form form .campo{
    width: 80% !important;
    padding: 1.8rem 2rem !important;
    font-size: 3.8vw !important;
    
}
#mensaje {
    padding: 1.8rem 2rem !important;
    font-size: 3.8vw !important;
    width: 100% !important;
    height: 400px !important;
}
.container-form .btn-enviar{
    padding: 2rem !important;
    font-size: 3.8vw !important;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
#contador-caracteres {
    font-size: 3.5vw !important; /* Tamaño de fuente del contador */
  }
  
}
html{
  width: 100% !important;
}

.fondoimagen{
    background-image: url('../assets/fondo.jpeg');
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
}


#jaque{
    position: absolute;
    letter-spacing: 10px;
    margin: 0 auto;
}
.lead {
  width: 100%;
}

#index{
  bottom: 0;  
    position: absolute;
    width: 85%;
    margin: 0 auto !important;
}
  .opacidad{
    background-color: #33333368;
}

#index .row{
  margin: 10px;
  color: #ffffff !important;
}
.divSecundario{
  color: #ffffff !important;
}
.movil{
  color: #ffffff !important;
}

.divSecundario a{
  text-decoration: none;
}

.boton{
    width: fit-content;
    font-weight: 600;
    color: #ffffff ;
    text-transform: uppercase;
    padding: .5em .5em .5em;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: #333333ad;
    transition: background-color 0.3s, color 0.3s;
}

.boton:hover{
  background-color: #ffffff;
  color: #333333da !important;
}

  .movil{
    display: flex; /* Convertimos #movil en un contenedor flexible */
    align-items: center;
  }


  .solu{
    white-space: pre-line;
  }

.fondo{
    background-color:#f1f1f1;
}


.appear-from-bottom {
    animation: appearFromBottom 0.9s ease-out forwards;
    opacity: 0;
    transform: translateY(50px);
  }
  
  @keyframes appearFromBottom {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.appear-from-right2 {
    animation: appearFromBottom2 1.2s ease-out forwards;
    opacity: 0;
  }
  
  @keyframes appearFromBottom2 {
    from {
      opacity: 0;
      margin-left: 15%;
    } to {
        opacity: 1;
        margin-left: 0%;
    }
  }

.blurry-background {  
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    filter: blur(3px);
}

#segundo {
  opacity: 0;
}

#gratis {
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  text-shadow: 4px 5px 12px #000000ef;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* Borde negro */
  text-align: center;
  margin-bottom: 0; /* Reduce el margen inferior */
  padding: 0 !important;
}

#marcas {
  position: relative;
  width: 100%;
  height: 30%; /* Puedes ajustar este valor según necesites */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* Reduce el margen superior para acercar al h1 */
}

#segundo.active {
  animation: aparece 2.5s ease-in-out forwards !important;
}

.blurry-background.active {
  animation: slideOn 3s ease-in-out forwards !important;
}

@keyframes aparece {
  0% {
      transform: translateX(-60%);
      opacity: 0;
  }
  70% {
    opacity: 0.0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}


@keyframes slideOn {
    0% {
      filter: blur(3px);   
    }
    70% {
        filter: blur(2px);
    }
    100% {
        filter: blur(0px);
    }
}

#texto, #texto2 {
    text-align: center !important;
    font-family: "Segoe UI", sans-serif;
    padding: 20px;
}
#texto .titulo {
    text-align: center; /* Centra el texto de los títulos */
    color: #343a40; /* Color del texto */
    font-style: italic;
    font-weight: 400;
    line-height: 1.6; /* Altura de línea */
}
#texto #ordenador {
    border-radius: 5px;
    color: #3a3e43; /* Color del texto */
    line-height: 1.5; /* Altura de línea */
}

#texto2 p:not(.titulo) {
    border-radius: 5px;
    color: #3a3e43; /* Color del texto */
    line-height: 1.5; /* Altura de línea */
    text-align: center;
    width: 80%;
}

#texto p:last-child {
    margin-bottom: 0; /* Eliminar espaciado inferior del último párrafo */
}

.aa{
    margin: 5rem;
    text-align: center;
}

.ver {
  width: max-content;
  top: 5vh;
  margin: 0 auto;
  position: relative; /* Necesario para que el pseudoelemento pueda usar posicionamiento absoluto */
  display: flex; /* Permite alinear internamente el texto y el SVG */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 12px 18px;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease; /* Transición suave */
}

.ver:before {
  content: ""; /* El pseudoelemento comienza con tamaño mínimo */
  position: absolute; /* Absoluto para ocupar todo el ancho */
  top: 50%; /* Para centrar verticalmente */
  left: 0;
  transform: translateY(-50%); /* Para centrar verticalmente */
  border-radius: 50px; /* Opcional para darle forma redondeada */
  background: #b1dae7; /* Color del fondo del pseudoelemento */
  width: 60px; /* Inicia con un ancho de 0 */
  height: 60px; /* Ajusta la altura para cubrir el contenido */
  transition: all 0.3s ease; /* Transición suave */
}



.ver span {
  position: relative; /* Permite ajustar en relación al contenedor flex */
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.ver svg {
  position: relative;
  top: 0;
  margin-left: 10px; /* Espacio entre el texto y el SVG */
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  width: 30px; /* Ajusta para mantener proporción con el texto */
  height: auto;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.ver:hover:before {
  width: 100%; /* Al hacer hover, el pseudoelemento ocupa todo el ancho */
}

.ver:hover svg {
  transform: translateX(0); /* Remueve el desplazamiento para centrar */
}

.ver:active {
  transform: scale(0.95); /* Efecto de presión */
}


.mitad {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;

}
.img-hover {
  flex: 2;
  width: 20% !important;
  border-radius: .75rem;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99);
  background-image: url("path/to/image.jpg");
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8); /* Sombra para efecto 3D */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-hover:first-child{
  background-image: url('../assets/manos.jpg');
}
.img-hover:last-child{
  background-image: url('../assets/felices.jpg');
}
#fondoDiv {
    background-color: #ffffff;
}
.img-hover.selected {
  flex: 3; /* Aumenta el tamaño del contenedor cuando está seleccionado */
  transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99); /* Transición suave */
  background-size: cover; /* Asegura que la imagen siga cubriendo todo el contenedor */
  background-position: center; /* Mantiene la imagen centrada */
}

.img-hover.selected ~ 
.img-hover:not(.selected) {
  flex: 2; /* Disminuye el tamaño del contenedor cuando no está seleccionado */
}

#fondoDiv .mitad p{
    text-align: left;
    margin-left: 3%;
}


.contenedor {
    margin: 0 auto !important;
    display: flex; /* Utilizamos flexbox para crear un contenedor flexible */
    width: 70%;
}

.marketing{
  text-align: center;
}

.wrapper .card {
  width: 20%;
  border-radius: .75rem;
  font-size: 5em;
  background-size: cover;
  cursor: pointer;

  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  flex-direction: column; /* Cambia la dirección a columna */
  justify-content: flex-end; /* Alinea los elementos al final */
  align-items: center; 
}
.wrapper .card h4{
  display: none;
  color: #fff;
  overflow: hidden;
  font-size:inherit;
  text-align: center;
  width: 100%;
  pointer-events: none;
  animation: appearFromBottom2 1.5s ease forwards;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin: 0;
  padding: .2em;
}

@keyframes appearFromBottom2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-fluid input {
  display: none;
}

.container-fluid input:checked + label {
  width: 150%;
  background-size: cover;
  background-position: center;
}

.card[for="c1"] {
  background-image: url('../assets/software.jpg');
}
.card[for="c2"] {
  background-image: url('../assets/abuelos_portada.png');
}
.card[for="c3"] {
  background-image: url('../assets/solouciones.jpg');
}


.texto {
  width: 100%;
  padding: 20px; /* Espacio interior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.texto .description {
  display: none;
  margin-top: 20px; /* Espacio superior entre descripciones */
}

#cuadroDiv img{
  width: 100%;
  height: auto;
  border: 2px solid;
}
.featurette{
  align-items: center;
  justify-content: center;
  width: 100%;
}


.text-amarillo {
    color: yellow !important; /* !important se usa para priorizar este estilo sobre los estilos predeterminados */
}
.carousel-item-expanded {
    transition: height 2s ease; /* Agrega una transición suave */
}

.texto-oculto-contenedor {
    background-color: rgba(25, 26, 25, 0.685);
    height: 0; /* Establece la altura inicial del texto oculto en 0 */
    overflow: hidden; /* Oculta el exceso de contenido */
    transition: height 0.5s ease; /* Agrega una transición suave para la altura del texto oculto */
}
.texto-oculto-contenedor p{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1.5em;
}

.texto-oculto-contenedor.mostrar-texto {
    height: auto; /* Ajusta la altura del texto oculto al mostrarse */
}

.blanco{
    height: 2px;
    background-color: aliceblue;
}


.visible {
    display: block; /* Mostrar el texto cuando la clase 'visible' está presente */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.container-form{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h2{
  margin-bottom: 15px;
  font-size: 50px;
}
.container-form p{
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a{
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form a i{
  font-size: 20px;
  color: orange;
  margin-right: 10px;
}
.container-form form .campo, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: 1.5em;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.contenedor-textarea {
  position: relative;
}

#mensaje {
  width: 100% !important;
  height: 200px; /* Ajusta la altura según sea necesario */
}

#contador-caracteres {
  position: absolute;
  bottom: 5px; /* Ajusta la posición vertical */
  right: 5px; /* Ajusta la posición horizontal */
  color: #999; /* Color del contador */
  font-size: 0.8em; /* Tamaño de fuente del contador */
}
.container-form .btn-enviar{
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
  background: #e39403;
}
.color{
  
  margin: 0 auto;
  align-items: center; /* Centra verticalmente los elementos */
  border: 2px solid #cccccc43;
  background-color: #f3f4f5;
  border-radius: 10px;
  
}


.img-hover {
  position: relative;
  cursor: pointer;
  margin-right: 20px;  /* Añade margen derecho para separar elementos */
  transition: transform 0.3s;
}

.img-hover img {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

.img-hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  transition: opacity 0.3s;
  opacity: 0; /* Por defecto, el ::after es invisible */
}
.img-hover.selected .texto-hover {
  opacity: 1;
}
.img-hover.selected .texto-nohover {
  opacity: 0;
}
/* Cuando el elemento tiene la clase 'selected', se mantiene visible */
.img-hover.selected::after {
  opacity: 1; /* La opacidad se mantiene en 1 cuando está seleccionado */
}

/* Si quieres que no cambie con hover cuando está seleccionado */
.img-hover.selected:hover::after {
  opacity: 1; /* Mantén la opacidad constante para 'selected' */
}

.texto-nohover {
  position: absolute; /* Absoluto para mantener el texto dentro de la imagen */
  bottom: 0; /* Alinea con la parte inferior */
  left: 50%; /* Centra horizontalmente */
  width: 60%;
  transform: translateX(-50%); /* Ajusta la posición para centrar */
  text-align: center !important; /* Centra el texto */
  padding: 0.5em; /* Añade padding para legibilidad */
  margin: 0 !important;
  -webkit-text-stroke: .5px rgb(0, 0, 0); /* Borde negro de 1px */
  transition: opacity 0.3s;
  opacity: 1; /* Por defecto, el texto está oculto */
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
  overflow: visible !important; /* Evita que el contenido del SVG se corte */

}
.texto-nohover svg{

  stroke: black;
  fill: white;
  width: 20% !important;
  height: auto;
}


.texto-nohover::before {
  content: attr(data-contour);  
  position: absolute;  
  top: -12px;  
  left: -12px;
  right: 12px;
  bottom: 12px;
  color: rgb(255, 255, 255);  
  z-index: -1;  
}

.texto-hover {
  position: absolute; /* Absoluto para mantener el texto dentro de la imagen */
  bottom: 0; /* Alinea con la parte inferior */
  left: 50%; /* Centra horizontalmente */
  width: 95%;
  transform: translateX(-50%); /* Ajusta la posición para centrar */
  color: #fff; /* Contraste para visibilidad */
  font-size: 2rem; /* Tamaño de fuente adecuado */
  text-align: center !important; /* Centra el texto */
  padding: 0.5em; /* Añade padding para legibilidad */
  margin: 0 !important;
  transition: opacity 0.3s;
  opacity: 0; /* Por defecto, el texto está oculto */
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}


.img-hover:last-child {
  margin-right: 0;  /* El último elemento no necesita margen adicional */
}

.textos-container {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem !important;
}

.textos {
  max-height: 0; /* Oculto por defecto, sin espacio visible */
  overflow: hidden; /* Asegura que el contenido no salga de la caja */
  padding: 0; /* Sin espacio por defecto */
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; /* Transición suave */
}

/* Cuando el texto está visible */
.textos.mostrar {
  max-height: fit-content; /* Ajusta el valor según lo necesario, dependiendo de cuánto se necesita expandir */
  padding: 1.2em; /* Restaura el padding cuando se muestra */
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Transición más lenta para expansión */
}

/* -----------------------------
  PANTALLAS CUADRADAS O ANCHAS
  -------------------------------*/


  @media only screen and (orientation: landscape), (min-aspect-ratio: 1/1) {
    p.ordenador{
      text-align: center !important;
    }
    .color{
      width: 70%;
    }
    #jaque h3{
      font-size: 3.5vw;
    }
    .divSecundario {
      bottom: 25%;
         /* Opcional: Ajusta el ancho al 100% del div principal */
        top: 35vh;
    }
    .digital{
      font-size: 1.6rem !important;
    }
    

    .boton{
      font-size: 1.2rem ;
    }
    .divSecundario .col{
      font-size: 1.2vw !important;
    }    
    .divSecundario .opacidad svg{
      margin-right: 5%;
      width: 7%;
      height: auto;
  }

    .text-container h3 {

      color: rgb(255, 175, 46); /* Aplica el color deseado */
      font-size: 3vw;
      padding: 0;
      margin: 0;
    }
    .text-container p {
      color: rgb(255, 175, 46);
      font-size: 10vw;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0;
      margin: 0;
    }
    .blurry-background {  
      background-image: url('../assets/logos.png');
  }
  #texto .titulo {
      font-size: 2rem;
  }
  #texto p:not(.titulo) {
    margin: 0 auto;
      font-size: 1.5rem;
      width: 80%;
      
  }

  
  .aa{
      margin: 2rem;
      text-align: center;
  }

  #texto2 .titulo {
      font-size: 2rem;
  }
  #texto2 p:not(.titulo) {
      font-size: 1.6rem;
      margin-left: 3%;
      width: 80%;
  }
  .wrapper {
    padding-top: 5vh;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .marketing h2{
    font-size: 3rem;
  }
  .marketing p{
    font-size: 2rem;
  }
  .description p {
    font-size: 1.6rem; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin-left: 3%;
  }

  
  }