#marcas {
    position: relative;
    width: 100%;
    height: 30%;
    border-bottom: 2px solid #e8e8e9;
    overflow: hidden; /* Evita que el contenido excedente se muestre fuera del contenedor */
    display: flex; /* Usa flexbox para centrar verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

#marcas h1 {
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 5px 12px #000000e9;
    animation: slideIn 2s ease-in-out forwards;
    max-width: 90%; /* Limita el ancho del texto al 90% del ancho del contenedor */
    text-align: center; /* Centra el texto horizontalmente */
}

.blurry-background {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6);
    animation: slideOn 2s ease-in-out forwards;
}
.small-screen {
    background-image: url('../assets/logos2.png');
}

/* Estilos específicos para pantallas grandes */
.large-screen {
    background-image: url('../assets/logos.png');
}

@keyframes slideIn {
    0% {
        transform: translateX(-60%);
        opacity: 0;
    }
    70% {
      opacity: 0.0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOn {
    0% {
        
    }
    30% {
        filter: blur(1px);
    }
    100% {
        filter: blur(2px);
    }
}

#texto, #texto2 {
    font-family: "Segoe UI", sans-serif;
    width: 80vw;
    padding: 20px;
}
 .titulo {
    font-size: 2rem;
    text-align: center; /* Centra el texto de los títulos */
    color: #343a40; /* Color del texto */
    font-style: italic;
    font-weight: 400;
    line-height: 1.5; /* Altura de línea */
}

#texto p:not(.titulo) {
    font-size: 1.4rem;
    border-radius: 5px;
    color: #3a3e43; /* Color del texto */
    line-height: 1.5; /* Altura de línea */
    text-align: left;
    margin-left: 3%;
    width: 80%;
}
#texto2 p:not(.titulo) {
    font-size: 1.4rem;
    border-radius: 5px;
    color: #3a3e43; /* Color del texto */
    line-height: 1.5; /* Altura de línea */
    text-align: center;
    margin-left: 3%;
    width: 80%;
}

#texto p:last-child {
    margin-bottom: 0; /* Eliminar espaciado inferior del último párrafo */
}

.min-fondo .mitad p{
    margin: 0;  
    line-height: 2em;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 1.6em;

}

.min-fondo .mitad img {
    top: 0;
    width: 60%; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    
}
.min-fondo .mitad {
    border: 2px solid #cccccc43;
    width: 95vw;
    background-color: #f3f4f5;
    border-radius: 10px;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#ver{
    text-decoration: none;
    width: 100% !important;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.6);
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #333;
}
#texto2{
    text-align: center;
}

#ver:hover{
    background-color: #333;
    color: white
}

.fondo .mitad {
    margin: 0 auto;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    border: 2px solid #cccccc43;
    width: 80%;
    background-color: #f3f4f5;
    border-radius: 10px;
}
.fondo{
    background-color: #ffffff;
    
}

.fondo .mitad{
    height: auto; 
    font-size: 1.5rem;
    line-height: 1.5em;
}
.fondo .mitad p{
    text-align: left;
    
    margin-left: 3%;
}
.fondo .mitad p:last-of-type{
    margin-right: 1%;
}
.mitad img:last-of-type {
    right: 0;
    padding-right: 0;
    margin-right: 0;
}

.contenedor {
    margin: 0 auto !important;
    display: flex; /* Utilizamos flexbox para crear un contenedor flexible */
    width: 70%;
}

.fondo .mitad img {
    width: 40%; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}