body {
  overflow-x: hidden;
  color: #333;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-position: center;
  background-color: rgb(221, 221, 221);
  margin: 0;
  padding: 0;
}
#imgContent {
  height: 100vh;
 position: relative;
 background-color:rgb(255, 255, 255);
 display: flex;
 justify-content: flex-end; /* Alinea la imagen a la derecha */  
 align-items: center; /* Centra verticalmente */
}

#imgContent img {
 width: auto;
 height:auto;
 max-height: 100vh;
 display: block; /* Asegura que la imagen sea un bloque */
 margin: auto; /* Alinea la imagen al centro */
}
#imgContent #blanco{

}
#imgContent #blanco::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%,  rgba(79, 105, 118, 0.4) 10% ,rgba(79, 105, 118, 0) 40%);
  z-index: 2; /* Coloca el fondo detrás del texto y la imagen */
}

#imgContent p {
  margin: 0;
  width: 55vw;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
  font-weight: 900;
  transform: scaleX(0.95);
  font-style: italic;
  position: absolute; /* Establecemos la posición absoluta para el texto */
  text-shadow: 7px 5px 5px rgba(0, 0, 0, 0.25);
}
#izq, #der{
  color: #ECEFF1;
  font-size: 14vh;
  font-weight: bold;
  left: 6vw;
}
#izq2, #der2{
  
  color: rgb(255, 185, 56);
  font-size: 12vh;
}

#izq {
  
 animation: slideIn 2.5s ease-in-out forwards;
  top: 5vh; /* Ajustamos la posición desde la parte superior */
   
  
}
#izq2{
  left: 30vw;
  animation: slideOn 2.5s ease-in-out forwards;
  top: 20vh; /* Ajustamos la posición desde la parte superior */
  
}

#der {
  left: 15vw;
 animation: slideIn 2.5s ease-in-out forwards;
  top: 43vh; /* Ajustamos la posición desde la parte superior */
  
}
#der2{
  left: 30vw;
 animation: slideOn 2.5s ease-in-out forwards;
  top: 59vh; /* Ajustamos la posición desde la parte superior */
  
}

@keyframes slideIn {
  0% {
      transform: translateX(-60%);
      opacity: 0;
  }
  30% {
    opacity: 0.0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideOn {
  0% {
      transform: translateX(-60%);
      opacity: 0;
  }
  40% {
    opacity: 0.0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}