@media only screen and (orientation: portrait), (max-aspect-ratio: 1/1) {
  .wrapper {
    padding-top: 2vh;
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .marketing h2{
    font-size: 3rem;
  }
  .marketing p{
    font-size: 2.7rem;
  }
  .description p {
    font-size: 2.5rem; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin-left: 3%;
  }
  
}

.marketing{
  text-align: center;
}

.card {
  width: 20%;
  border-radius: .75rem;
  font-size: 5em;
  background-size: cover;
  cursor: pointer;

  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  flex-direction: column; /* Cambia la dirección a columna */
  justify-content: flex-end; /* Alinea los elementos al final */
  align-items: center; 
}
.card h4{
  display: none;
  color: #fff;
  overflow: hidden;
  font-size:inherit;
  text-align: center;
  width: 100%;
  pointer-events: none;
  animation: appearFromBottom2 1.5s ease forwards;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin: 0;
  padding: .2em;
}

@keyframes appearFromBottom2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  display: none;
}

input:checked + label {
  width: 150%;
  background-size: cover;
  background-position: center;
}

.card[for="c1"] {
  background-image: url('../assets/software.jpg');
}
.card[for="c2"] {
  background-image: url('../assets/abuelos_portada.png');
}
.card[for="c3"] {
  background-image: url('../assets/solouciones.jpg');
}


.texto {
  width: 100%;
  padding: 20px; /* Espacio interior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.texto .description {
  display: none;
  margin-top: 20px; /* Espacio superior entre descripciones */
}

#cuadroDiv img{
  width: 100%;
  height: auto;
  border: 2px solid;
}
.featurette{
  align-items: center;
  justify-content: center;
  width: 100%;
}


.text-amarillo {
    color: yellow !important; /* !important se usa para priorizar este estilo sobre los estilos predeterminados */
}
.carousel-item-expanded {
    transition: height 2s ease; /* Agrega una transición suave */
}

.texto-oculto-contenedor {
    background-color: rgba(25, 26, 25, 0.685);
    height: 0; /* Establece la altura inicial del texto oculto en 0 */
    overflow: hidden; /* Oculta el exceso de contenido */
    transition: height 0.5s ease; /* Agrega una transición suave para la altura del texto oculto */
}
.texto-oculto-contenedor p{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1.5em;
}

.texto-oculto-contenedor.mostrar-texto {
    height: auto; /* Ajusta la altura del texto oculto al mostrarse */
}

.blanco{
    height: 2px;
    background-color: aliceblue;
}


.visible {
    display: block; /* Mostrar el texto cuando la clase 'visible' está presente */
}
@media only screen and (orientation: landscape), (min-aspect-ratio: 1/1) {
  .wrapper {
    padding-top: 5vh;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .marketing h2{
    font-size: 3rem;
  }
  .marketing p{
    font-size: 2rem;
  }
  .description p {
    font-size: 1.6rem; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin-left: 3%;
  }
  
}